<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="/css/main.css">
    <style>
        main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    height: 85vh; /* Full viewport height */
}

h1 {
    text-align: center; /* Center the heading text */
    margin-bottom: 10px;
}

p {
    text-align: center; /* Center the paragraph text */
}
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"> Shoap</a></li>
                <li><a href="admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
    <main>

       <h1>My Product</h1>
       <p>List of all the products...</p>
    
    </main>

</div>
</body>
</html>